.bomselect {
  min-width: 300px;
  max-width: 380px;
  border-radius: 4px;
}

.bomselect .input-group {
  position: relative;
}

.bomselect .open {
  position: initial !important;
}

.bomselect .dropdown-menu {
  width: calc(100% - 2px);
  max-height: calc(100vh - 192px) !important;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 1px;
  margin-right: 14px;
  margin-top: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bomselect .dropdown-menu .row {
  padding-left: 2px;
}

.bomselect:hover {
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 200ms ease-in-out;
}

.bomselect .bootstrap-typeahead-input {
  height: 40px;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  transition: background-color 200ms ease-in-out;
}

.bomselect .bootstrap-typeahead-input-main {
  border: none;
  font-size: 16px;
  line-height: 22.8571px;
  height:38px;
}

.bomselect .bootstrap-typeahead-input input {
  padding-left: 12px;
  color: rgb(51, 51, 51);
  text-overflow: ellipsis;
}

.bomselect .form-control {
  background-image: none;
}

.bomselect .form-control input:focus {
  border: none;
  box-shadow: none;
}

.bomselect .form-control:focus {
  border: none;
  box-shadow: none;
}

.bomselect .input-group-addon {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-left: none;
  color: rgba(51, 51, 51, 0.5);
  cursor: default;
  padding: 7px 12px 5px 12px;
}

.bomselect:hover .input-group-addon {
  color: rgb(51, 51, 51);
  transition: color 200ms ease-in-out;
}

/* what the heck is this, just sits there and does nothing ? */
.bomselect .bootstrap-typeahead-input-hint {
  display: none !important;
}

.bomselect:hover .bootstrap-typeahead-input ::-webkit-input-placeholder {
  color: rgb(220, 220, 220);
  transition: color 200ms ease-in-out;
}

.bomselect:hover .bootstrap-typeahead-input ::-moz-placeholder {
  color: rgb(220, 220, 220);
  transition: color 200ms ease-in-out;
}

.bomselect:hover .bootstrap-typeahead-input :-ms-input-placeholder {
  color: rgb(220, 220, 220);
  transition: color 200ms ease-in-out;
}

.bomselect .bootstrap-typeahead-input ::-webkit-input-placeholder {
  color: rgb(120, 120, 120);
  transition: color 200ms ease-in-out;
}

.bomselect .bootstrap-typeahead-input ::-moz-placeholder {
  color: rgb(120, 120, 120);
  transition: color 200ms ease-in-out;
}

.bomselect .bootstrap-typeahead-input ::-ms-input-placeholder {
  color: rgb(120, 120, 120);
  transition: color 200ms ease-in-out;
}
